.footer {
  padding: 20px 0;
  background-color: #343a40;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
  color: #ccc;
}

.footer h5 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #ffffff;
}
