.logo {
    height: 40px;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    margin-right: 20px;
    color: #ffffff !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-nav .btn {
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 20px;
}

.navbar-nav .dropdown-toggle {
    border-radius: 20px;
}

.dropdown-menu {
    background-color: #343a40;
    border: none;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #495057;
}
